/* Обзоры */
.reviews {
  margin-top: 3vh;
  padding: 60px 0;
  text-align: center;
  height: 45vh;
}

.reviews__title {
  margin-bottom: 5vh;
  font-size: 32px;
  color: #333;
}

.reviews__slider {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 20vh;
}

.reviews__button {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background: rgb(231, 231, 231);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews__list {
  flex: 1;
  position: relative;
  min-height: 200px;
  max-width: 600px;
}

.reviews__item {
  display: none;
  text-align: center;
}

.reviews__item--active {
  display: block;
}

.reviews__text {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 40px;
}

.reviews__author {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.reviews__photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.reviews__name {
  font-weight: 600;
  color: #333;
  font-size: 16px;
}
